<section class="container home-container">
  <h1 class="welcome">Hey there, {{name}}!</h1>

<section class="container">


  <div class="container">
  <h3>Your Snips</h3>
  {{#snips}}
  <ul class="list-unstyled">
    <li><b><a href="/app/editSnip/{{_id}}"> {{title}}</a></b></li>
    <li>{{body}}</li>
    <li>Language: {{language}}</li>
    <li>
      <ul class="list-unstyled">
        {{#tags}}
        <li>Tags</li>
        <li>{{.}}</li>
        {{/tags}}
      </ul>
    </li>
    <li>Notes: {{notes}}</li>

    <li>
      <form class="form-group" action="/app/editSnip/{{_id}}" method="get">
      <input type="submit" name="edit" value="Edit this Snip" class="form-control btn btn-primary">
    </form>
  </li>
  </ul>
  {{/snips}}
  </div>


  <form class="form-group" action="/app/addsnip" method="post">
    <h3>Create a New Snip</h3>

    <div class="form-group">
      <label for="">My New Snip</label>
      <input type="hidden" name="userId" value="{{id}}">
      <input type="text" name="title" value="" placeholder="Title" class="form-control">
      <textarea name="body" value="" placeholder="Body" class="form-control"></textarea>
      <input type="text" name="language" value="" placeholder="Language" class="form-control">
      <input type="text" name="tags" value="" placeholder="Tags (please separate with a comma)" class="form-control">
      <input type="text" name="notes" value="" placeholder="Notes" class="form-control">
    </div>

    <div class="form-group">
      <input type="submit" name="view" value="Create!" class="form-control btn btn-primary">
    </div>


  </form>


</section>
</section>
