<div class="container">
  <h3>Filtered Snips</h3>

  {{#snips}}
  <ul class="list-unstyled">
    <li><b><a href="/app/editSnip/{{_id}}"> {{title}}</a></b></li>
    <li>{{body}}</li>
    <li>Language: {{language}}</li>
    <li>
      <ul class="list-unstyled">
        <li>Tags</li>
        {{#tags}}
        <li>{{.}}</li>
        {{/tags}}
      </ul>
    </li>
    <li>
      <ul class="list-unstyled">
        <li>Notes</li>
        {{#notes}}
        <li>{{.}}</li>
        {{/notes}}
      </ul>
    </li>

    <li>
      <form class="form-group" action="/app/editSnip/{{_id}}" method="get">
      <input type="submit" name="edit" value="Edit this Snip" class="form-control btn btn-primary">
    </form>
  </li>
  </ul>
  {{/snips}}

</div>
